@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

#print_table {
  font-family: 'Lato', sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 9pt;
  /* color: black; */
}

#print_table td,
#print_table th {
  padding: 4px;
  border: 1px solid #000;
  border-left-width: 0;
  border-right-width: 0;
  color: black;
}

#print_table th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: left;
}

@media print {
  .pagebreak {
    clear: both;
    page-break-before: always;
  }
}

.Action_slider_Wrap {
  background-color: #fff;
  overflow-y: hidden;
}
.Action_slider {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-bottom: 0.6px solid #f1f1f1;
  background-color: #fff;
}
.Action_slider li {
  list-style: none;
  scroll-behavior: smooth;
  flex-shrink: 0;
  text-align: center;
  scroll-snap-align: center;
}
.Action_slider::-webkit-scrollbar {
  display: none;
}
.text_limit_2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
