.slider_wrap {
  position: relative;
  width: 100%;
  height: inherit;
}
.slider_wrap .slider {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-snap-destination: 0% 100%;
  scroll-snap-points-x: repeat(100%);
  padding: 0;
  margin: 0;
}
.slider_wrap .slider::-webkit-scrollbar {
  display: none;
}
.slider_wrap .page_number_wrap {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  text-align: center;
}
.slider_wrap .page_number_wrap .page_number {
  min-width: 40px;
  min-height: 30px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 16px;
  color: #fff;
  background-color: #4b4b4b;
}
.slider_wrap .page_dot {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
}
.slider_wrap .page_dot ul {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #b3aeae;
  border-radius: 8px;
}
.slider_wrap .page_dot ul li {
  width: 8px;
  height: 8px;
  margin: 2px 3px;
  border-radius: 50%;
  list-style: none;
}
.slider_wrap:hover .btn_wrap {
  opacity: 1;
}
.btn_wrap {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(48% - 30px);
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  z-index: 900;
}
.btn_wrap button {
  position: absolute;
  top: 40%;
  height: 30px;
  padding: 0;
  border: none;
  outline: none;
  opacity: 0.3;
  cursor: pointer;
  border-radius: 4px;
  color: #222;
}
.btn_wrap button:hover {
  background-color: rgba(75, 75, 75, 0.4);
  opacity: 1;
}
.btn_wrap button:hover i {
  color: #fff;
}
.btn_wrap .btn_next {
  top: 1rem;
  right: 0;
  padding: 4px 6px 2px 8px;
}
.btn_wrap .btn_prev {
  top: 1rem;
  left: 0;
  padding: 4px 8px 2px 6px;
}
.sub_img {
  height: 76px;
  display: block;
  animation: 0.5s ease 0.5s normal forwards 1 fadein;
  -webkit-animation: 0.5s ease 0.5s normal forwards 1 fadein;
  opacity: 0;
}
.sub_img ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 76px;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sub_img ul li {
  overflow: hidden;
  opacity: 0.5;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  margin-right: 0.5rem;
  list-style: none;
  cursor: pointer;
  border-radius: 8px;
}
.sub_img ul .active,
.sub_img ul li:hover {
  opacity: 1;
  border: 1px solid #db6c6c;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
  .sub_img {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .sub_img {
    display: none;
  }
}
